<!--@subject {{trans "%title" title=$review.title}} @-->
<!--@vars {
"var customer.email":"Customer Email",
"var customer.name":"Customer Name",
"var review.title":"Shop Review Title",
"var review.description":"Shop Review Description"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>submitted shop review</p>

<h1>{{trans "%title," title=$review.title}}</h1>

<p>{{trans "%description," description=$review.description}}</p>



{{template config_path="design/email/footer_template"}}